<h2>Roadmap</h2>
<p class="introduction">
<strong>Hey there !</strong> We are thrilled welcome you on Weldon's roadmap page ! You can see below which functionnality are currently on our Roadmap.</br>
You already guessed, this is a non exhaustive list. In fact, we are counting on <strong>you</strong> to help us create the roadmap. You can click on each card to see more detail and vote for them if you want to see them sonner on Weldon !</br>
You can also <a href="/boards/1" alt="Suggest functionalities">suggest functionalities</a> and see how Weldon's community react to them !
</p>

<%=
  react_component(
    'Roadmap',
    {
      postStatuses: @post_statuses,
      posts: @posts,
      boards: @boards,
    }
  )
%>